<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Server Key | OtpWala Website</title>
<!-- <link href="/css/styles.css" rel="stylesheet">
<script src="/js/script.js"></script>
<script src="/js/admin-scripts.js"></script>
<link href="/css/styles_login.css" rel="stylesheet">
<link href="/css/admin_styles.css" rel="stylesheet"> -->

</head>
<body>
<div class="container">
	<h1>Update Server Key</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/serverTools" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<div class="message alert"></div>
	<div>
		<select class="form-select" id="servers">
			<option selected="selected" disabled>-- Select Server --</option>
			<option th:each="server : ${servers}" th:value="${server}" th:text="${server}"></option>
		</select>
	</div>
	
	<br>
	
	<form id="updateKey" autocomplete="off">
	    <div class="form-group pb-2">
	        <textarea class="form-control" required autofocus minlength="10" maxlength="200" autocomplete="off" id="updatedKey"></textarea>
	    </div>
	    
	    <button class="submit btn btn-primary" th:text="#{label.form.update.submit}"></button>
	</form>
	<div class="api-update-confirm">
		<span>API Key is wrong. Still want to Update?</span><br>
		<button class="btn btn-danger btn-sm btn-confirm-yes">Yes</button>
		<button class="btn btn-secondary btn-sm btn-confirm-no">No</button>
	</div>
	
		
</div>

<script>
	$(document).ready(function(){
		$(".alert").hide();
		$("#updateKey").hide();
		
		$("#servers").change(function(evt){
			let server = evt.target.value;
			$("#updateKey").show();
			$.ajax({
				url: "/admin/getKey/" + server,
				type: "GET",
				beforeSend: function(){
					$("#updatedKey").empty();
				},
				success: function(data){
					$("#updatedKey").val(data);
				},
				error: function(jqXHR, exception){
					$("#updatedKey").text('ERROR');
				}
			})
			
		})
		
		$("form").submit(function(evt) {
			evt.preventDefault();
			let updatedKey = $("#updatedKey").val();
			let server = $("#servers").val();
			$(".submit").attr('disabled', true);
			verifyKey(updatedKey, server, function(data) {
				console.log("verifyKey :: " + data);
				if(data) {
					updateKey(updatedKey, server, function(data) {
						if(data == "ERROR") {
							showToast('error', 'Some Error Occurred')
						} else {
							showToast('success', 'Successfully updated');
						}
						
						$(".submit").removeAttr('disabled')
					});
				} else {
					$(".api-update-confirm").show();
					
				}
			})
			
		})
		
		$(".btn-confirm-yes").click(function(){
			$(".api-update-confirm").hide();
			let updatedKey = $("#updatedKey").val();
			let server = $("#servers").val();
			updateKey(updatedKey, server, function(data) {
				if(data == "ERROR") {
					showToast('error', 'Some Error Occurred')
				} else {
					showToast('success', 'Successfully updated');
				}
				
				$(".submit").removeAttr('disabled')
			});
		})
		
		$(".btn-confirm-no").click(function(){
			$(".api-update-confirm").hide();
			$(".submit").removeAttr('disabled')
		})
		
		function updateKey(updatedKey, server, callBack) {
			$.ajax({
				url: "/admin/updateKey",
				type: "POST",
				data: JSON.stringify({
					updatedKey : updatedKey,
					server : server
				}),
				contentType: "application/json; charset=utf-8",
				success: function(data){
					
					return callBack(data);
				},
				error: function(jqXHR, exception){
					let msg = 'ERROR';
					return callBack(msg);
				}
			})
		}
		
		function verifyKey(updatedKey, server, callBack) {
			$.ajax({
				url: "/admin/verifyKey",
				type: "POST",
				data: JSON.stringify({
					updatedKey : updatedKey,
					server : server
				}),
				contentType: "application/json; charset=utf-8",
				success: function(data){
					
					return callBack(data);
				},
				error: function(jqXHR, exception){
					let msg = 'ERROR';
					return callBack(msg);
				}
			})
		}
		
	})
</script>

</body>
</html>