<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>
<style>
.number {
	color: red;
}
</style>
</head>
<body>
<div class="container">
	<h1>Today's Summary</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<hr>
	<div>Active User's Balance : <span class="active-user-balance number"></span></div>
	<div>All User's Balance : <span class="user-balance number"></span></div>
	<hr>
	<div>Server1 (activation) : <span class="server1 number"></span></div><br>
	<div>Server2 (sms-activate) : <span class="server2 number"></span></div><br>
	<div>Server3 (smsbower) : <span class="server3 number"></span></div><br>
	<div>Server4 (fastsms) : <span class="server4 number"></span></div><br>
	<div>Server5 (grizzlysms) : <span class="server5 number"></span></div><br>
	<div>Server6 (smscoding) : <span class="server6 number"></span> USD</div>
	<hr>
	<h4 class="text-red">Todays' Recharge</h4>
	<table class="table table-bordered added-table">
	    <thead>
	        <tr>
	            <th> Admin </th>
	            <th> Added </th>
	            <th> Deducted </th>
	            <th> Effective </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="user : ${todaysAddedBalance}">
	            <td><span th:text="${user.admin}"></span></td>
	            <td><span th:text="${user.addition}"></span></td>
	            <td><span th:text="${user.deduction}"></span></td>
	            <td><span th:text="${user.effective}"></span></td>
	        </tr>
	    </tbody>
	</table>
	<hr>
	<h4 class="text-red">Todays' Profit</h4>
	<table class="table table-bordered added-table">
	    <thead>
	        <tr>
	            <th> server </th>
	            <th> sale count </th>
	            <th> total sale </th>
	            <th> actual cost </th>
	            <th> profit </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="profit : ${profits}">
	            <td><span th:text="${profit.server}"></span></td>
	            <td><span th:text="${profit.saleCount}"></span></td>
	            <td><span th:text="'Rs. ' + ${profit.totalSale}"></span></td>
	            <td><span th:text="'Rs. ' + ${profit.actualCost}"></span></td>
	            <td><span th:text="'Rs. ' + ${profit.totalSale - profit.actualCost}"></span></td>
	        </tr>
	    </tbody>
	</table>
	
</div>

<script>
var baseUrl_server_1 = "/admin/balance/server1";
var baseUrl_server_2 = "/admin/balance/server2";
var baseUrl_server_3 = "/admin/balance/server3";
var baseUrl_server_4 = "/admin/balance/server4";
var baseUrl_server_5 = "/admin/balance/server5";
var baseUrl_server_6 = "/admin/balance/server6";
var active_users_balance = "/admin/activeUsersBalance";
var users_balance = "/admin/usersCombinedBalance";

$(document).ready(function(){
	
	function getBalance(server){
		let url = baseUrl_server_1;
		if(server == 'server2')
			url = baseUrl_server_2;
		if(server == 'server3')
			url = baseUrl_server_3;
		if(server == 'server4')
			url = baseUrl_server_4;
		if(server == 'server5')
			url = baseUrl_server_5;
		if(server == 'server6')
			url = baseUrl_server_6;
		if(server == 'active-user-balance')
			url = active_users_balance;
		if(server == 'user-balance')
			url = users_balance;
		
		var serverNode = "." + server;
		$.ajax({
			url: url,
			type: "GET",
			beforeSend: function(){
				$(serverNode).empty();
				$(serverNode).addClass("lds-ellipsis");
				for (let i = 0; i < 4; i++) {
				  	$(serverNode).append("<div></div>");
				}
			},
			success: function(data){
				$(serverNode).text(data);
			},
			error: function(jqXHR, exception){
				console.log('ERROR in get balance');
			},
			complete: function(){
				$(serverNode).removeClass("lds-ellipsis");
			}
		})

	}
	
	function fetchAllBalance() {
		getBalance('server1');
		getBalance('server2');
		getBalance('server3');
		getBalance('server4');
		getBalance('server5');
		getBalance('server6');
		getBalance('active-user-balance');
		getBalance('user-balance');
	}
	
	fetchAllBalance();
	
	fetchBalanceInterval = setInterval(fetchAllBalance, 10000);
})

</script>

</body>
</html>
