<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>
</head>
<body>
<div class="container">
	<h1>Check any user's Balance</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/userTools" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<div class="message alert"></div>
	<form>
		<div class="form-group pb-2">
	    	<label for="username">Username</label>
	        <input class="form-control" autofocus autocomplete="off" id="username" th:placeholder="#{label.user.username}" />
	    </div>
		
		<button class="submit btn btn-primary" th:text="#{label.form.user.getbalance}"></button>
	</form>
	<br>
	<div class="user-balance alert alert-success m-auto"></div>
</div>


<script>
	$(document).ready(function(){
		$(".message").hide();
		$(".user-balance").hide();
		$("form").submit(function(evt){
			evt.preventDefault();
			let username = $("#username").val();
			$.ajax({
				url: "/admin/checkBalanceUser/" + username,
				type: "GET",
				success: function(data){
					console.log(data);
					if(data == "User Does not exist") {
						$(".message").addClass("alert-danger");
					
						$(".message").text(data);
						
						$(".message").fadeTo(2000, 500).slideUp(500, function() {
					      	$(".message").slideUp(500);
					      	$(".message").removeClass("alert-danger");
						});
						return;
					}
					//$(".user-balance").show();
					$(".user-balance").text(data);
					
					$(".user-balance").fadeTo(2000, 500).slideUp(500, function() {
				      	$(".user-balance").slideUp(500);
					});
					
				},
				error: function(jqXHR, exception){
					console.log('Error occurred ' + exception);
				}
			})
		})
	})
</script>

</body>
</html>