<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Server Key | OtpWala Website</title>
<!-- <link href="/css/styles.css" rel="stylesheet">
<script src="/js/script.js"></script>
<script src="/js/admin-scripts.js"></script>
<link href="/css/styles_login.css" rel="stylesheet">
<link href="/css/admin_styles.css" rel="stylesheet"> -->

</head>
<body>
<div class="container">
	<h1>Update Meta Data</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/serverTools" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<div class="message alert"></div>
	<div>
		<select class="form-select" id="metadatas">
			<option selected="selected" disabled>-- Select Meta Data to Update --</option>
			<option th:each="metadata : ${metadatas}" th:value="${metadata.value}" th:text="${metadata.attribute}"></option>
		</select>
	</div>
	
	<br>
	
	<form id="update-meta-data" autocomplete="off">
	    <div class="form-group pb-2">
	        <textarea class="form-control" required autofocus minlength="3" maxlength="4000" autocomplete="off" id="updatedMetadata"></textarea>
	    </div>
	    
	    <button class="submit btn btn-primary" th:text="#{label.form.update.submit}"></button>
	</form>
	
		
</div>

<script>
	$(document).ready(function(){
		$(".alert").hide();
		$("#updatedMetadata").hide();
		
		$("#metadatas").change(function(evt){
			let attribute = evt.target.value;
			$("#updatedMetadata").val(attribute);
			$("#updatedMetadata").show();
		})
		
		$("#update-meta-data").submit(function(evt) {
			evt.preventDefault();
			let updatedMetadataValue = $("#updatedMetadata").val();
			let attribute = $('#metadatas :selected').text();
			$(".submit").attr('disabled', true);
			updateMetaData(updatedMetadataValue, attribute, function(data) {
				if(data == "ERROR") {
					showToast('error', 'Some Error Occurred')
				} else {
					showToast('success', 'Successfully updated');
				}
				
				$(".submit").removeAttr('disabled')
			});
			
		})
		
		function updateMetaData(updatedMetadataValue, attribute, callBack) {
			$.ajax({
				url: "/admin/updateMetaData",
				type: "POST",
				data: JSON.stringify({
					updatedValue : updatedMetadataValue,
					attribute : attribute
				}),
				contentType: "application/json; charset=utf-8",
				success: function(data){
					
					return callBack(data);
				},
				error: function(jqXHR, exception){
					let msg = 'ERROR';
					return callBack(msg);
				}
			})
		}
		
	})
</script>

</body>
</html>