<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>About-Us | tempsms</title>
</head>
<body>

<div class="container">
	
	<h1>ABOUT US</h1>
	<div><a href="/user/dashboard" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Dashboard</button></a></div>
	<hr>
	<p>
		We at <strong>tempsms</strong> provide temporary phone numbers to bypass sms verification at websites which asks for mobile verification while registration.<br>
		<br>
		With our service, you can create an account for any service and application. If you have not received an SMS, we will refund your money automatically. <br><br>
		We also offer Help Desk support. If you have any query or need any help, you can contact us by visiting <a href="/public/contactus">Contact-Us</a> page 
		<br>
		<strong>or</strong>
		you can mail us directly to <code>support@tempsms.store</code> <br><br>
		
	</p>
</div>
</body>
</html>