<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contact-Us | tempsms</title>
</head>
<body>

<div class="container py-1">
	
	<h1>CONTACT US</h1>
	<hr>
	<div class="message alert hidden"></div>
	<form id="contact-form" >
	    <!-- Name input -->
	    <div class="mb-3">
	      <label class="form-label" for="name">Name</label>
	      <input class="form-control" id="name" autofocus required minlength="4" maxlength="20" name="name" type="text" placeholder="Name" data-index="1" />
	    </div>
	
	    <!-- Email address input -->
	    <div class="mb-3">
	      <label class="form-label" for="emailAddress">Email Address</label>
	      <input class="form-control" id="emailAddress" required name="emailAddress" type="email" placeholder="Email Address" data-index="2" />
	    </div>
	
	    <!-- Message input -->
	    <div class="mb-3">
	      <label class="form-label" for="message">Message</label>
	      <textarea class="form-control" id="message" required minlength="10" maxlength="200" name="message" placeholder="Message" style="height: 10rem;" data-index="3"></textarea>
	    </div>
	
	    <!-- Form submit button -->
	    <div class="d-grid">
	      <button class="btn btn-primary btn-lg contact-us-submit" >Submit</button>
	    </div>

  	</form>
  	
</div>

</body>
</html>