<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FAQs | tempsms</title>
</head>
<body>

<div class="container">
	
	<h1>FAQs</h1>
	<div><a href="/user/dashboard" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Dashboard</button></a></div>
	<hr>
	<div id="accordion accordion-flush">
		<div class="accordion-item">
		    <h2 class="accordion-header" id="q1">
		      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-q1" aria-expanded="false" aria-controls="collapse-q1">
		        	What is the use of tempsms?
		      	</button>
		    </h2>
	    	<div id="collapse-q1" class="accordion-collapse collapse" aria-labelledby="q1" data-bs-parent="#q1">
	      		<div class="accordion-body">tempsms Allows to create phone verified accounts without using your real number - the main and most common way 
	      		to use sms verification service Protect yourself from fraudulent websites that are asked to enter your phone number to download a file or watching a movie. 
	      		You risk to get paid services and subscriptions, entering your phone number on these sites.</div>
	    	</div>
	  	</div>
	  	
	  	<div class="accordion-item">
		    <h2 class="accordion-header" id="q2">
		      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-q2" aria-expanded="false" aria-controls="collapse-q2">
		        	Why tempsms.store?
		      	</button>
		    </h2>
	    	<div id="collapse-q2" class="accordion-collapse collapse" aria-labelledby="q2" data-bs-parent="#q2">
	      		<div class="accordion-body">Because we sell OTP in very cheap price.</div>
	    	</div>
	  	</div>
	  	
	  	<div class="accordion-item">
		    <h2 class="accordion-header" id="q3">
		      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-q3" aria-expanded="false" aria-controls="collapse-q3">
		        	I received the otp but its wrong, Can I get Refund?
		      	</button>
		    </h2>
	    	<div id="collapse-q3" class="accordion-collapse collapse" aria-labelledby="q3" data-bs-parent="#q3">
	      		<div class="accordion-body">Unfortunately, No. If You received SMS we consider your activation done regardless of its authenicity.
	      		You can request another otp by clicking on Next OTP button, Its Free.</div>
	    	</div>
	  	</div>
	  	
	  	<div class="accordion-item">
		    <h2 class="accordion-header" id="q4">
		      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-q4" aria-expanded="false" aria-controls="collapse-q4">
		        	I want OTP on same number After 1 Hour, How Can I Get?
		      	</button>
		    </h2>
	    	<div id="collapse-q4" class="accordion-collapse collapse" aria-labelledby="q4" data-bs-parent="#q4">
	      		<div class="accordion-body">It is not Possible to take otp on same Number once its expired. Every Number has 20 Minutes. You Can Take Unlimited OTP In 20 Minutes.</div>
	    	</div>
	  	</div>
	  	
	  	<div class="accordion-item">
		    <h2 class="accordion-header" id="q5">
		      	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-q5" aria-expanded="false" aria-controls="collapse-q5">
		        	I got first otp but not second OTP. I want Refund.
		      	</button>
		    </h2>
	    	<div id="collapse-q5" class="accordion-collapse collapse" aria-labelledby="q5" data-bs-parent="#q5">
	      		<div class="accordion-body">When you receive any OTP we consider your activation done. So, Refund is not Possible. You Can wait sometime For Next OTP</div>
	    	</div>
	  	</div>
	  	
	</div>
</div>
</body>
</html>