<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Terms & Conditions | tempsms</title>
</head>
<body>

<div class="container">
	<h1>TERMS AND CONDITIONS</h1>
	<div><a href="/user/dashboard" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Dashboard</button></a></div>
	<hr>
	<p>Please read these Terms and Conditions carefully before using <a href="https://tempsms.store">https://tempsms.store</a>.
	Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
	These Terms apply to all visitors, users and others who access or use the Service.
	By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.</p>
	<ol>
		<li>
			<strong>You are only responsible for:</strong>
			<p>Providing accurate and complete information when creating an account with us.<br>
				Maintaining adequate security and control of any and all usernames, passwords or any other information that you use to access your Service account and the related services.
				Keeping your profile information up-to-date in your Service account profile.</p>
		</li>
		
		<li>
			<p>Any number provided to you via the Service does not belong to you.
			Sharing of these numbers to third parties is prohibited and considered a breach of the Terms, which may lead to immediate termination of your account on our Service.
			<br>You accept that the availability of numbers changes at our discretion and numbers may not be available at all times.
			<br>By using the Service, you accept that the numbers we provide are temporary and subject to change at our discretion.
			We are not responsible for any incident(s) arising from your use of a temporary number.
			<br>In addition, the service we provide covers verifications only.
			We are not responsible for any incident(s) that occur outside of the verification process,
			which starts when you request a number for verification and ends when you receive a code.
			By using the Service, you indemnify, defend and hold us harmless for, from and against any liability.</p>
		</li>
		
		<li>
			<p>Prices of all services purchased with our Credits currency are subject to change at our discretion.</p>
		</li>
		
		<li>
			<p>We assess Credit or monetary refunds on a case by case basis. We reserve the right to deny a refund for any reason,
			including but not limited to, abuse of our service, payments sent to wrong party, violation of our Terms, etc.
			</p>
		</li>
		
		<li>
			<p>We make no warranties that the Service Availability will be continuous or uninterrupted Will be error free.
				<br> We reserve the right to discontinue or modify any part of the Service at any time for any reason.
			</p>
		</li>
		
		<li>
			<p>These terms of service are subject to change at any time without notice.
			By using this website, you agree to be bound by the latest version of these terms and conditions of use.
			</p>
		</li>
	
	</ol>
</div>
</body>
</html>