<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>tempsms</title>
<style>
.iframe-portrait {
	margin: 20px 10px 20px 10px;
	max-width: 600px;
	width: 100%;
	height: 600px;
}

</style>
</head>
<body>
<div class="container">
	<div class="ps-3 row card bg-dark text-white text-no-wrap" th:if="${user != null}">
		<div class="card-body pb-2 pt-2">Balance : <span class="balance" th:text="${user.balance}"></span></div>
	</div>
	<div><a href="/recharge" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<div class="alert btn-warning btn-sm">Dont Send any Fraud Money the QR Code. If we find out any fraud transaction, your id will be blocked permanently.</div>
	<div class="message alert hidden"></div>
	<form class="d-grid recharge-form-bharatpe">
		<input class="form-control" type="text" autofocus id="utr" placeholder="Enter UTR/Txn id" autocomplete="off" />
		<button type="submit" class="submit btn btn-primary btn-sm mt-2 btn-block">Proceed</button>
		<div><a href="/recharge/rechargeHistory" class="d-grid gap-2 pt-2"><button class="btn btn-secondary btn-sm btn-block">Recharge History</button></a></div>
	</form>
	<hr>
	<div class="bharatpe-details">
		<div class="upi pb-2 d-flex justify-content-center">
			UPI ID : <code class="upi-id ps-3" title="Click to Copy" th:text="${bharatpeUpi}"></code>
			<span id="copied-success" class="copied text-success">Copied!</span>
		</div>
		<div class="d-flex justify-content-center">Or Scan below QR Code</div>
		<div class="qr-code m-3">
			<img class="rounded mx-auto d-block img-fluid" src="/images/Bharatpe_QR.png" alt="qr_code" />
		</div>
		
		<div class="p-1 d-flex justify-content-center">Note: Only send payment to above mentioned UPI address/QR code</div>
		
		<div class="p-3 d-flex justify-content-center video-help">
			<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#video" aria-expanded="false" aria-controls="video">
				Need Help? Watch Video
			</button>
		</div>
	</div>
	
	<div class="collapse" id="video">
		<div class="d-flex justify-content-center">
			<video class="iframe-portrait" controls autoplay muted loop>
			  <source src="/vid/otpwala-recharge.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	
	<div class="p-1 justify-content-center recharge-help-container">
		<button class="recharge-help btn btn-danger btn-sm">Still Need Help. Click Here</button>
	</div>
	
</div>

</body>
</html>