<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<div class="container">
	<div class="ps-3 mb-3 row card bg-dark text-white text-no-wrap" th:if="${user != null}">
		<div class="card-body pb-2 pt-2">Balance : <span class="balance" th:text="${user.balance}"></span></div>
	</div>
	
	<div class="list-group" th:classappend="${cyptoEnabled == 'false' ? 'hidden' : ''}">
	     <a href="/recharge/crypto" class="list-group-item list-group-item-action list-group-item-light" 
	     	th:disabled="${cyptoEnabled == 'false'}">Payment Method 1 (CRYPTO)</a>
	</div>
	<div class="list-group" th:classappend="${bharatpeEnabled == 'false' ? 'hidden' : ''}">
		<a href="/recharge/bharatpe" class="list-group-item list-group-item-action list-group-item-light" 
	     	th:disabled="${bharatpeEnabled == 'false'}">Payment Method 2 (BHARATPE)</a>
	</div>
	<div class="list-group" th:classappend="${paytmEnabled == 'false' ? 'hidden' : ''}">
		<a href="/recharge/paytm" class="list-group-item list-group-item-action list-group-item-light" 
	     	th:disabled="${paytmEnabled == 'false'}">Payment Method 3 (PAYTM)</a>
	</div>
	<div class="list-group recharge-site-open" 
		th:classappend="${upiEnabled == 'false' ? 'hidden' : ''}" 
		th:disabled="${upiEnabled == 'false'}">
	     <p class="list-group-item list-group-item-action list-group-item-light">Payment Method 4 (UPI|Manual)</p>
	</div>
</div>

</body>
</html>