<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recharge History | tempsms</title>
</head>
<body>
<div class="container">
	<h2>Recharge History</h2>
	<div><a href="/user/dashboard" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Dashboard</button></a></div>
	<div><a href="/recharge" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	
	<table class="table table-bordered">
	    <thead>
	        <tr>
	            <th> Amt </th>
	            <th> Upd_Amt</th>
	            <th> RechargeTime </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="rechargeHistory, stat : ${rechargeHistoryList}">
	            <td><span th:text="${rechargeHistory.amount}"></span></td>
	            <td><span th:text="${rechargeHistory.updatedBalance}"></span></td>
	            <td><span th:text="${#dates.format(rechargeHistory.archiveTime, 'dd-MMM-yy | hh:mm a')}"></span></td>
	        </tr>
	    </tbody>
	</table>
	
</div>

</body>
</html>