<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Under Maintenance | tempsms</title>
</head>
<body>

<div class="container text-center">
	<h1>Website Under Maintenance</h1>
	<hr>
	<div id="telegram-link"><span class="badge bg-primary">Click here</span> to join our <span class="badge bg-info text-dark">Telegram channel</span> to get the update.</div>
	<hr>
	<div class="link-window-open badge bg-primary" data-href="/public/tg/admin/2">Contact Admin 1</div>
	<div class="link-window-open badge bg-secondary" data-href="/public/tg/admin/1">Contact Admin 2</div>
</div>
</body>
</html>