<div th:fragment="client_default_header_guest">
	 <!--=============== HEADER ===============-->
     <header class="header" id="header">
         <nav class="nav nav-container">
            <a class="navbar-brand" href="/home">
		   		<span>T</span><span>E</span><span>M</span><span>P</span><span class="red">S</span><span class="red">M</span><span class="red">S</span>
		   		<img src="/images/mobile-sms-messages.svg" />
		   	</a>

             <div class="nav__menu" id="nav-menu">
                 <ul class="nav__list">
                     <li class="nav__item">
                         <a href="/login" class="nav__link h-login active-link">
                             <i class='bx bx-home-alt nav__icon'></i>
                             <span class="nav__name">Login</span>
                         </a>
                     </li>
                     
                      <li class="nav__item">
                         <a href="/register" class="nav__link h-register">
                             <i class='bx bx-message-square-detail nav__icon'></i>
                             <span class="nav__name">Register</span>
                         </a>
                     </li>
                     
                     <li class="nav__item">
                         <a href="/public/priceList" class="nav__link h-services">
                             <i class='bx bx-user nav__icon'></i>
                             <span class="nav__name">Services</span>
                         </a>
                     </li>
                 </ul>
             </div>

             <img src="" alt="" class="nav__img">
             <ul class="navbar-nav ms-auto flex-nowrap">
		      	<li><a href="/login"><i class="bx bx-log-in login-icon"></i></a></li>
		    </ul>
         </nav>
     </header>
</div>

<div th:fragment="client_default_header">
	 <!--=============== HEADER ===============-->
     <header class="header" id="header">
         <nav class="nav nav-container">
            <a class="navbar-brand" href="/user/dashboard">
		   		<span>T</span><span>E</span><span>M</span><span>P</span><span class="red">S</span><span class="red">M</span><span class="red">S</span>
		   		<img src="/images/mobile-sms-messages.svg" />
		   	</a>

             <div class="nav__menu" id="nav-menu">
                 <ul class="nav__list">
                     <li class="nav__item">
                         <a href="/user/dashboard" class="nav__link h-dashboard active-link">
                             <i class='bx bx-home-alt nav__icon'></i>
                             <span class="nav__name">Dashboard</span>
                         </a>
                     </li>
                     
                      <li class="nav__item">
                         <a href="/user/otp" class="nav__link h-otp">
                             <i class='bx bx-message-square-detail nav__icon'></i>
                             <span class="nav__name">OTP</span>
                         </a>
                     </li>
                     
                     <li class="nav__item">
                         <a href="/user/profile" class="nav__link h-profile">
                             <i class='bx bx-user nav__icon'></i>
                             <span class="nav__name">Profile</span>
                         </a>
                     </li>

                 </ul>
             </div>

             <img src="" alt="" class="nav__img">
             <ul class="navbar-nav ms-auto flex-nowrap">
		      	<li><a href="/logout"><i class='bx bx-log-out logout-icon'></i></a></li>
		    </ul>
         </nav>
     </header>
</div>


<div th:fragment="client_default_header_admin">
	<!--=============== HEADER ===============-->
     <header class="header" id="header">
         <nav class="nav nav-container">
            <a class="navbar-brand" href="/admin/console">
		   		<span>T</span><span>E</span><span>M</span><span>P</span><span class="red">S</span><span class="red">M</span><span class="red">S</span>
		   		<img src="/images/mobile-sms-messages.svg" />
		   	</a>

             <div class="nav__menu" id="nav-menu">
                 <ul class="nav__list">
                     <li class="nav__item">
                         <a href="/user/dashboard" class="nav__link h-dashboard">
                             <i class='bx bx-home-alt nav__icon'></i>
                             <span class="nav__name">Dashboard</span>
                         </a>
                     </li>
                     
                      <li class="nav__item">
                         <a href="/user/otp" class="nav__link h-otp">
                             <i class='bx bx-message-square-detail nav__icon'></i>
                             <span class="nav__name">OTP</span>
                         </a>
                     </li>
                     
                     <li class="nav__item">
                         <a href="/admin/console" class="nav__link h-admin active-link">
                             <i class='bx bx-user nav__icon'></i>
                             <span class="nav__name">Admin Console</span>
                         </a>
                     </li>

                 </ul>
             </div>

             <img src="" alt="" class="nav__img">
             <ul class="navbar-nav ms-auto flex-nowrap">
		      	<li><a href="/logout"><i class='bx bx-log-out logout-icon'></i></a></li>
		    </ul>
         </nav>
     </header>
</div>
