<th:block th:fragment="script1">
	<form class="login login-form" action="/signin" method="POST">
	    <p class="title" th:text="#{label.form.login.title}"></p>
	    <div class="msg" th:if="${session.message}" th:text="${session.message}" th:classappend="${(session.logoutSuccess != null) ? 'logout-success' : 'login-error'}">
	    </div>
	    
	    <div th:if="${session.message}" th:text="${@sessionUtilityBean.removeAttributeFromSession('message')}" th:remove="tag"></div>
   		<div th:if="${session.logoutSuccess}" th:text="${@sessionUtilityBean.removeAttributeFromSession('logoutSuccess')}" th:remove="tag"></div>
	    
	    <input autocomplete="off" name="username" th:placeholder="#{label.user.username}" />
	    <i class="fa fa-user"></i>
	    
	    <input autocomplete="off" type="password" th:placeholder="#{label.user.password}" name="password" />
	    <i class="fa fa-key"></i>
	    
	    <div class="form-checkbox remember-me-checkbox">
		    <div class="switch">
			    <input id="remember-me" name="remember-me"  type="checkbox" checked class="switch-input" />
	    		<label for="remember-me" class="switch-label">Switch</label>
		    </div>
		</div>
		
	    <a class="btn btn-outline-primary mt-2" style="position:absolute; right: 2%; font-size: 80%" th:href="@{/user/sendPasswordResetLink}">Forgot Password?</a>
	    
	    <button type="submit" class="btn btn-primary login-btn">
	      <i class="spinner"></i>
	      <span class="state" th:text="#{label.form.login.submit}">Log in</span>
	    </button>
  	</form>
  	<hr>
 	<a class="btn btn-outline-primary mb-2" th:href="@{/register}" th:text="#{label.form.registrationLink}">Register</a>
</th:block>

<th:block th:fragment="script2">
	<div th:if="${session.loginRedirect}" th:text="${@sessionUtilityBean.removeAttributeFromSession('loginRedirect')}" th:remove="tag"></div>
	<script>
		document.location.href="/home";
	</script>
</th:block>
