<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Signup | tempsms</title>
</head>
<body>
<div class="container2">
  	<div class="wrapper">
  		<form class="login" id="user-registration-form">
  			<p class="title" th:text="#{label.form.registration.title}"></p>
  			<div class="message alert alert-register hidden"></div>
		    <div>
		        <input id="username" class="form-control lowercase-input" th:placeholder="#{label.user.username}" autofocus autocomplete="off" required pattern="[a-zA-Z0-9]+" minlength="4" maxlength="20" data-index="1" />
		        <i class="fa fa-user"></i>
		    </div>
		    
		    <div>
		        <input type="password" class="form-control" id="password" th:placeholder="#{label.user.password}" autocomplete="off" required minlength="6" maxlength="16" data-index="2" />
		        <i class="fa fa-key"></i>
		    </div>
		    
		    <div>
		        <input type="password" class="form-control" id="repeatPassword" th:placeholder="#{label.user.repeat.password}" autocomplete="off" required minlength="6" maxlength="16" data-index="3" />
		        <i class="fa fa-key"></i>
		        <small class="error-password"></small>
		    </div>
		    
		    <div class="form-checkbox show-password-checkbox">
			    <div class="switch">
				    <input id="show-password" type="checkbox" class="switch-input" />
		    		<label for="show-password" class="switch-label">Switch</label>
			    </div>
			</div>
		    
		    <button class="register-btn btn btn-primary" th:text="#{label.form.registration.submit}"></button>
		</form>
		
		<hr>
		<div>
			<span th:text="#{label.form.loginLinkHelper}"></span>
			<a class="btn btn-outline-primary btn-sm ms-2" th:href="@{/login}" th:text="#{label.form.loginLink}"></a>
		</div>
		
		<div class="mt-3">
			<span>Need Help? </span>
			<a class="btn btn-outline-info btn-sm ms-2" href="/public/contactus" target="_blank" th:text="#{label.form.registration.help}"></a>
		</div>
	</div>
</div>

</body>
</html>



