<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resend Verification Email | tempsms</title>
</head>
<body>
<div class="container2">
	<div class="container text-center">
		<h2>Resend Verification Mail</h2>
		<hr>
		<div class="message alert hidden"></div>
	    <form class="d-grid add-email-form">
			<input class="form-control" type="text" autofocus id="username" placeholder="Enter Username" autocomplete="off" />
			<button type="submit" class="submit btn btn-primary btn-sm mt-2 btn-block">Resend</button>
		</form>
	</div>

</div>

</body>
</html>