<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dashboard | tempsms</title>
</head>
<body>
<div class="container">
	<h1>Welcome Back <span th:text="${user.username}"></span></h1>
	<div class="row">
	 	<div class="mb-3 card bg-dark text-white text-no-wrap" style="line-height: 2;">
			<div class="col-7 card-body pb-2 pt-2">Balance : <span class="balance" th:text="${user.balance}"></span></div>
			<a class="col-5 pb-2 pt-2 card-body" href="/recharge" >
				<button class="float-end btn btn-primary btn-sm change-password-btn">Recharge</button>
			</a>
		</div>
	</div>
	<div><a href="/user/otpHistory" class="d-grid gap-2 pb-2"><button class="btn btn-primary btn-sm">Otp History</button></a></div>
	<div><a href="/user/otp" class="d-grid gap-2"><button class="btn btn-primary btn-sm">Get New Number</button></a></div>
	<hr>
	<div th:if="${announcements != null}" class="notifications">
		<marquee>
			<code class="m-0 text-white" th:each="a : ${announcements}" th:text="${a.msg}"></code>
		</marquee>
	</div>
	
	<div class="row">
	 	<div class="card bg-dark text-white text-no-wrap" style="line-height: 1; background-color: transparent !important;">
			<div class="col-7 card-body pb-2 pt-2">Your Numbers :</div>
			<div th:if="${!codeNumberList.empty}" class="col-5 pb-2 pt-2 card-body">
				<button class="float-end btn btn-outline-danger btn-sm cancel-all-active">Cancel All</button>
			</div>
		</div>
	</div>
	
	<div class="table-responsive table-condensed">
		<table th:if="${!codeNumberList.empty}" class="table">
		    <tbody>
		        <tr th:each="codeNumber : ${codeNumberList}">
		            <td><span th:text="${codeNumber.number}"> Number </span></td>
		            <td><span class="service" th:text="${codeNumber.service}"> Service </span></td>
		            <td><span class="otp text"></span></td>
		            <td>
		            	<span th:if="${codeNumber.server == 'server2'}" 
		            		class="btn resend" title="resend"></span>
		            </td>
		            <td>
		            	<input type="hidden" class="db-code" th:value="${codeNumber.code}" />
		            	<span class="btn cancel" title="cancel"> </span>
		            </td>
		            <td>
		            	<input type="hidden" class="insert-time" th:value="${codeNumber.createdTime}" />
		            	<span class="remainingTime"></span>
		            	<span class="sec"> sec</span>
		            </td>
		            
		        </tr>
		    </tbody>
		</table>
		
		<div th:if="${codeNumberList.empty}" class="alert alert-danger">You don't have any active number right now.</div>
	</div>
	
</div>

<script>

	$(".insert-time").each(function(index, value){
		let currentTime = new Date();
		let insertTime = new Date($(this).val());
		let diff = ((currentTime-insertTime)/1100).toString();
		if(diff < 1000) {
			$(".remainingTime")[index].innerHTML = (1100 - (diff | 0));
			$($(".sec")[index]).show();
			startCountDown(this);
		}
		else {
			$(".remainingTime")[index].innerHTML = "Expired";
		}
	})
	
	$(".db-code").each(function(i, v){
		let code = $(this).val();
		let appName = $(this).closest("tr").find(".service").text();
		let otpSpan = $(this).closest("tr").find(".otp")
		
		getOtpInterval = setInterval(function(){
			getOtpDashboard(code, appName, function(otp){
				if(isCancelled)
					clearInterval(getOtpInterval)
				if(otp) {
					$(otpSpan).text(otp);
					$(otpSpan).toggleClass('changecolor');
				}
			});
		}, 1000);
	})

</script>

</body>
</html>