<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password | tempsms</title>
</head>
<body>
<div class="container2">
	<div th:if="${RESET == null}" class="container text-center">
	    <h2>Forgot Password? Enter email associated with your account</h2>
	    <hr>
	    <div class="message alert hidden"></div>
	    <form id="forgot-password-form" class="d-grid">
			<div class="form-group pb-2">
				<input type="email" class="form-control" autofocus id="email" placeholder="Enter Email" autocomplete="off" />
			</div>
			<button class="btn btn-primary btn-sm mt-2 btn-block send-reset-password-link">Send Link</button>
		</form>
	</div>
	
	<div th:if="${RESET != null && RESET == 'valid'}" class="container">
	    <h2>Reset Password</h2>
	    <hr>
	    <div class="message alert hidden"></div>
	    <form class="reset-password-form text-center">
		    <div class="form-group pb-2">
		        <input type="text" class="form-control" autocomplete="off" id="new-password" data-index="1" th:placeholder="#{label.user.new.password}" />
		    </div>
		    
		    <div class="form-group pb-2">
		        <input type="password" class="form-control" autocomplete="off" id="new-password-repeat" data-index="2" th:placeholder="#{label.user.new.password.repeat}" />
		        <small class="error-password"></small>
		    </div>
		    
		    <input type="hidden" id="token" th:value="${token}" />
			
			<button class="submit btn btn-primary btn-sm" th:text="#{label.form.user.reset-password}"></button>
		</form>
		
		<hr>
	
		<div>
			<ol class="password-help">
				<li>
					<span>Password should be 6-16 characters</span>
				</li>
				<li>
					<span>Password must contain:</span>
					<ul style="list-style-type:square;">
						<li>At least one alphabet character</li>
						<li>At least one number</li>
					</ul>
				</li>
				<li>
					<span>Password can contain special characters:  !@#$_</span>
				</li>
			</ol>
		</div>
	</div>
	
	<div th:if="${RESET != null && RESET == 'invalid_token'}" class="container text-center">
	    <h3>Link is expired or Invalid.</h3>
	</div>

	
</div>
</body>
</html>