<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | Tempsms</title>

</head>
<body>
<div class="container">
	<h2>View/Download Log Files</h2>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<hr>
	<div class="list-group" th:each="fileName : ${fileNames}">
		<div class="list-group-item list-group-item-dark">
			<span th:text="${fileName}"></span>
			<button class="view-log" th:id="${fileName}">View</button>
			<button class="download-log" th:id="${fileName}">Download</button>
		</div>
	</div>
	
</div>

</body>
</html>