<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>
</head>
<body>
<div class="container">
	<h1>All Servers List</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/serverTools" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	
	<div class="table-responsive">
		<table class="table table-borderless">
		    <tbody>
		        <tr th:each="serverKeys : ${serverKeysList}">
		            <td align="center" height="20"><span th:text="${serverKeys.server}" class="server-name"></span></td>
		            <td align="center"><span class="btn btn-sm" th:classappend="${serverKeys.isEnabled ? 'btn-outline-danger disable-server' : 'btn-outline-primary enable-server'}" th:text="${serverKeys.isEnabled ? 'Disable' : 'Enable'}"></span></td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>

</body>
</html>