<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>
</head>
<body>
<div class="container">
	<h1>Welcome to Admin Console</h1>
 	<br>	
	<div class="list-group">
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/userTools" class="list-group-item list-group-item-action list-group-item-light">User Tools</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/serverTools" class="list-group-item list-group-item-action list-group-item-light">Server Tools</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/announcement" class="list-group-item list-group-item-action list-group-item-light">Announcements</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/activeNumbers" class="list-group-item list-group-item-action list-group-item-light">Active Numbers</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/createBackup" class="list-group-item list-group-item-action list-group-item-light">Create Backup</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/restoreBackup" class="list-group-item list-group-item-action list-group-item-light">Restore Backup</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/getLogs" class="list-group-item list-group-item-action list-group-item-light">View/Download Logs</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/getProfitOverview" class="list-group-item list-group-item-action list-group-item-light">Profit Overview</a>
	    <a sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')" href="/admin/summary" class="list-group-item list-group-item-action list-group-item-light">Summary</a>
	</div>
</div>

</body>
</html>