<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | Tempsms</title>
</head>
<body>
<div class="container">
	<h1>Last 30 Days Profit Overview</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<hr>
	<div th:each="byDate : ${profitsByDate}">
		<h4 th:text="${byDate.key}"></h4>
		<table class="table table-bordered added-table" >
		    <thead>
		        <tr>
		            <th> server </th>
		            <th> sale count </th>
		            <th> total sale </th>
		            <th> actual cost </th>
		            <th> profit </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="profit : ${byDate.value}">
		            <td><span th:text="${profit.server}"></span></td>
		            <td><span th:text="${profit.saleCount}"></span></td>
		            <td><span th:text="'Rs. ' + ${profit.totalSale}"></span></td>
		            <td><span th:text="'Rs. ' + ${profit.actualCost}"></span></td>
		            <td><span th:text="'Rs. ' + ${profit.totalSale - profit.actualCost}"></span></td>
		        </tr>
		    </tbody>
		</table>
	</div>
	
</div>

</body>
</html>