<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>
</head>
<body>
<div class="container">
	<h1>Service Pricing Comparision</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/comparePrice" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	
	<div class="search-box-admin">
		<i class="fa fa-search icon" aria-hidden="true"></i>
		<input type="text" class="search-input" placeholder="Search for names.." title="Type in a name">
	</div>
	<div class="table-responsive table-condensed">
		<table class="table table-bordered">
		    <thead>
		        <tr>
		            <th> Service </th>
		            <th> Cost </th>
		            <th> Actual Cost </th>
		            <th> Our Price </th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="ele : ${priceList}">
		            <td><span th:text="${ele.key}"> Service </span></td>
		            <td th:each="str : ${ele.value}"><span th:text="${#numbers.formatDecimal(str, 0, T(java.lang.Math).round(str) == str ? 0 : 2)}"> </span></td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>

</body>
</html>