<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Announcements</title>
</head>
<body>
<div class="container">
	<h1>Announcements</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<hr>
	<div class="message alert"></div>
	
	<form id="add-announcement" autocomplete="off">
	    <div class="form-group pb-2">
	        <textarea class="form-control" required autofocus minlength="10" maxlength="200" autocomplete="off" id="announcement"></textarea>
	    </div>
	    
	    <button class="submit btn btn-primary" th:text="#{label.announcement.add.submit}"></button>
	</form>
	
	<ol class="list-group list-group-numbered mt-3 announcement-list">
		<li th:each="announcement : ${announcements}" class="list-group-item bg-dark text-white bg-gradient" th:text="${announcement.msg}" th:id="${announcement.id}"></li>
	</ol>
	
</div>

<script>
	$(".alert").hide();
	addAnnouncementDeleteButton();
</script>

</body>
</html>