<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ADMIN | OtpWala Website</title>

</head>
<body>
<div class="container">
	<h1>Service Pricing Comparision</h1>
	<div><a href="/admin/console" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back to Admin Console</button></a></div>
	<div><a href="/admin/serverTools" class="d-grid gap-2 pt-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<h3>Please Select Server</h3>
	<div class="list-group" th:if="${servers != null}">
		<a th:each="server : ${servers}" th:href="@{'/admin/comparePrice/' + ${server}}" ><button class="list-group-item list-group-item-action" th:text="${server}"></button></a>
	</div>
	
</div>
</body>
</html>