<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password | tempsms</title>
</head>
<body>
<div class="container">
	<h1>Change <span>Password</span></h1>
	<div><a href="/user/profile" class="d-grid gap-2"><button class="btn btn-outline-primary btn-sm">Go back</button></a></div>
	<hr>
	<div class="message o-alert hidden"></div>
	<form class="change-password-form">
		<div class="form-group pb-2">
	        <input type="text" class="form-control" autocomplete="off" autofocus id="current-password" data-index="1" th:placeholder="#{label.user.current.password}" />
	    </div>
	    
	    <div class="form-group pb-2">
	        <input type="text" class="form-control" autocomplete="off" id="new-password" data-index="2" th:placeholder="#{label.user.new.password}" />
	    </div>
	    
	    <div class="form-group pb-2">
	        <input type="password" class="form-control" autocomplete="off" id="new-password-repeat" data-index="3" th:placeholder="#{label.user.new.password.repeat}" />
	        <small class="error-password"></small>
	    </div>
		
		<button class="submit btn btn-primary btn-sm" th:text="#{label.form.user.changepassword}"></button>
	</form>
	<hr>
	
	<div>
		<ol class="password-help">
			<li>
				<span>Password should be 6-16 characters</span>
			</li>
			<li>
				<span>Password must contain:</span>
				<ul style="list-style-type:square;">
					<li>At least one alphabet character</li>
					<li>At least one number</li>
				</ul>
			</li>
			<li>
				<span>Password can contain special characters:  !@#$_</span>
				
			</li>
		</ol>
	</div>

</div>

<script>
	$(document).ready(function(){
		
		$(document).on("keyup", "#new-password-repeat", function(event){
			if($(this).val().length > $("#new-password").val().length){
				$(".error-password").text("Password does not match");
			} else {
				$(".error-password").empty();
			}
		
			if($(this).val() != $("#new-password").val().substring(0, $(this).val().length)){
				$("#new-password-repeat").addClass("is-invalid");
			} else {
				$("#new-password-repeat").removeClass("is-invalid");
			}
				
		})
		
		$(document).on('keydown', '.change-password-form input', function (event) {
		    if (event.which == 13) {
	    	  	event.preventDefault();
		        var $this = $(event.target);
		        var index = parseFloat($this.attr('data-index'));
		        $('[data-index="' + (index + 1).toString() + '"]').focus();
		    }
		});
		
		$(document).on("submit", ".change-password-form", function(evt){
			evt.preventDefault();
			let password = $("#new-password").val();
			let repeatPassword = $("#new-password-repeat").val();
			let currentPassword = $("#current-password").val();
			
			if(!currentPassword) {
				$("#current-password").addClass("is-invalid");
				showToast('error', 'Please enter current password');
				$("#current-password").focus();
				return;
			}
			
			if(!password) {
				$("#new-password").addClass("is-invalid");
				showToast('error', 'Please enter new password');
				$("#new-password").focus();
				return;
			}
			
			if(password != repeatPassword) {
				$("#new-password-repeat").addClass("is-invalid");
				showToast('error', 'Passwords does not match');
				$("#new-password-repeat").focus();
				return;
			}
			
			$.ajax({
				url: "/user/changePassword",
				type: "POST",
				data: JSON.stringify({
					currentPassword : currentPassword,
					password : password
				}),
				contentType: "application/json; charset=utf-8",
				beforeSend: function(){
					$(".change-password-form").find("button, input").prop('disabled', 'disabled');
				},
				success: function(data){
					if(!data) {
						showToast('error', 'Could not change password');
						return;
					}
					if(data == "SUCCESS")
						showToast('success', 'Password changed successfully');
					else
						showToast('error', data);
				},
				error: function(jqXHR, exception){
					console.log('Error occurred ' + exception);
				}
			}).always(function(){
				$("form").find("button, input").removeAttr('disabled');
			})
		})
	})
</script>

</body>
</html>