<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Profile | tempsms</title>
</head>
<body>
<div class="container">
	<div class="ps-3 row card bg-dark text-white text-no-wrap" th:if="${user != null}">
		<div class="col-7 card-body pb-2 pt-2">Balance : <span class="balance" th:text="${user.balance}"></span></div>
		<a class="col-5 pb-2 pt-2 card-body" href="/logout"><button class="float-end btn btn-danger btn-sm">Logout</button></a>
	</div>
	<hr>
	
	<div class="profile-container">
		<div class="profile-card">
			<div class="profile-element profile-username-container">
				<div class="profile-username" th:text="${user.username}"></div>
			</div>
			<div class="profile-element profile-name-container">
				<div class="profile-first-name" th:text="${user.firstName == null ? 'Not added' : user.firstName}"></div>
				<div class="profile-last-name" th:text="${user.lastName == null ? 'Not added' : user.lastName}"></div>
			</div>
			<div class="profile-element profile-email-container">
				<div class="profile-email" th:text="${user.email == null ? 'Not added' : user.email}"></div>
				<a th:if="${user.email == null}" href="/user/addEmail" class="edit-btn edit-btn-email btn btn-sm btn-danger">Add <i class="fa-solid fa-pen-to-square"></i></a>
			</div>
			<div class="profile-element profile-otp-count-container">
				<div class="profile-otp-count" th:text="${user.otpCount == null ? 'Not available' : user.otpCount}"></div>
			</div>
			
			<div class="profile-change-password-container">
				<a class="d-grid gap-2 p-2" href="/user/changePassword"><button class="float-start btn btn-danger btn-sm">ChangePassword</button></a>
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="link-window-open badge bg-primary" data-href="/public/tg/admin/1">Contact Admin 1</div>
	<div class="link-window-open badge bg-secondary" data-href="/public/tg/admin/2">Contact Admin 2</div>
	
</div>

</body>
</html>